# Laravel (both apps)
**/vendor/
**/node_modules/
**/.env
**/.env.backup
**/.env.production
**/storage/*.key
**/public/hot
**/public/storage
**/public/build/
**/*.sqlite
**/*.sqlite-journal

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
/dist/
/build/

# Device image
*.img
*.img.gz
